In [2]:
import pandas as pd
import numpy as np

## Chaning Options with Attributes and Dot Syntax

In [4]:
data = np.random.randint(0, 100, [1000, 50])

In [8]:
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,24,15,92,11,5,7,55,9,68,30,...,45,14,28,96,95,3,39,70,13,82
999,62,49,58,65,82,36,64,37,47,57,...,78,15,46,60,58,20,24,44,55,93

In [9]:
pd.options.display.max_rows

60

In [24]:
pd.options.display.max_rows = 4

In [25]:
pd.options.display.max_columns = 8

In [26]:
df

     0   1   2   3  ...  46  47  48  49
0    76  73  16  91 ...  98  14  28  73
1    73  73  60  79 ...   7   6  72  72
..   ..  ..  ..  .. ...  ..  ..  ..  ..
998  24  15  92  11 ...  39  70  13  82
999  62  49  58  65 ...  24  44  55  93

[1000 rows x 50 columns]

## Changing pandas Options with Methods

In [27]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

     0   1   2   3  ...  46  47  48  49
998  60  53  39  86 ...  35  50  49  89
999  46  52  64  62 ...  44  98  98  55

[2 rows x 50 columns]

In [28]:
pd.get_option("max_rows")

4

In [29]:
pd.get_option("max_columns")

8

In [30]:
pd.set_option("max_columns", 20)

In [31]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,93,40,55,38,48,55,36,0,84,66,...,96,32,74,98,32,68,72,38,46,94
1,39,62,89,28,21,96,56,57,3,47,...,48,1,97,58,32,82,77,13,99,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,60,53,39,86,87,22,54,44,83,79,...,81,55,88,12,11,78,35,50,49,89
999,46,52,64,62,12,19,72,56,4,71,...,23,88,11,87,97,73,44,98,98,55

In [32]:
pd.reset_option("max_columns")

In [33]:
pd.reset_option("max_rows")

In [34]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## The precision Option

In [37]:
df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0 -2.111108  0.633680 -0.467518 -0.120586 -0.411871
1  0.043177 -1.489629 -1.339435  0.113357  1.021456
2 -1.005900 -0.290897  0.394557  0.355352  0.260238
3 -0.208572  1.085249 -0.576456 -0.655936 -3.184727
4  0.135561  1.107196 -0.608937 -0.854763  0.715890

In [38]:
pd.get_option("precision")

6

In [39]:
pd.set_option("precision", 2)

In [40]:
df

      0     1     2     3     4
0 -2.11  0.63 -0.47 -0.12 -0.41
1  0.04 -1.49 -1.34  0.11  1.02
2 -1.01 -0.29  0.39  0.36  0.26
3 -0.21  1.09 -0.58 -0.66 -3.18
4  0.14  1.11 -0.61 -0.85  0.72

In [41]:
pd.reset_option("precision")

In [42]:
df

          0         1         2         3         4
0 -2.111108  0.633680 -0.467518 -0.120586 -0.411871
1  0.043177 -1.489629 -1.339435  0.113357  1.021456
2 -1.005900 -0.290897  0.394557  0.355352  0.260238
3 -0.208572  1.085249 -0.576456 -0.655936 -3.184727
4  0.135561  1.107196 -0.608937 -0.854763  0.715890