In [2]:
import pandas as pd
import datetime as dt

In [5]:
someday = dt.date(1988, 5, 8)

In [8]:
someday.year
someday.month
someday.day

8

In [13]:
str(dt.datetime(2016, 1, 1, 17, 13, 57))

'2016-01-01 17:13:57'

In [14]:
sometime = dt.datetime(2016, 1, 1, 17, 13, 57)

In [17]:
sometime.hour

17

## The pandas Timestamp Object

In [19]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [20]:
pd.Timestamp(dt.datetime(2016, 1, 1, 17, 13, 57))

Timestamp('2016-01-01 17:13:57')

## The pandas DateTimeIndex Object

In [22]:
dates = ["2016-01-02", "2016-04-12", "2015-01-05"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2015-01-05'], dtype='datetime64[ns]', freq=None)

In [28]:
dates = [dt.date(2016, 1, 10), dt.date(2014, 2, 3), dt.date(2010, 3, 1)]
dtIndex = pd.DatetimeIndex(dates)

In [24]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-10', '2014-02-03'], dtype='datetime64[ns]', freq=None)

In [29]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
2014-02-03    200
2010-03-01    300
dtype: int64

## The pd.to_datetime( ) Method

In [31]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 3))

Timestamp('2015-01-03 00:00:00')

In [33]:
times = pd.Series(["July 4th, 1994", "10/04/1991", "Hello", "2015-02-31"])

In [35]:
pd.to_datetime(times, errors = "coerce")

0   1994-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

## Create Range of Dates with the pd.date_range( ) Method, Part 1

In [37]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [38]:
type(times)

pandas.tseries.index.DatetimeIndex

In [39]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [40]:
type(times[0])

pandas.tslib.Timestamp

In [52]:
pd.date_range(start = "2016-01-01", end = "2050-12-31", freq = "A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the pd.date_range( ) Method, Part 2

In [54]:
pd.date_range(start = "2012-09-09", periods = 25, freq = 'B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

## The .dt Accessor

In [56]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = "24D")

In [59]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [60]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
dtype: int64

In [63]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
dtype: object

In [65]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

## Import Financial Data Set with pandas_datareader Library

In [2]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [6]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source = "google", start = start, end = end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [7]:
stocks.values

array([[  3.06200000e+01,   3.11000000e+01,   3.05900000e+01,
          3.09500000e+01,   3.84141850e+07],
       [  3.08500000e+01,   3.11000000e+01,   3.06400000e+01,
          3.09600000e+01,   4.97588620e+07],
       [  3.08800000e+01,   3.10800000e+01,   3.05200000e+01,
          3.07700000e+01,   5.81823320e+07],
       ...,
       [  6.21900000e+01,   6.26600000e+01,   6.20300000e+01,
          6.23000000e+01,   2.48759680e+07],
       [  6.23000000e+01,   6.31500000e+01,   6.20400000e+01,
          6.28400000e+01,   1.99229190e+07],
       [  6.27600000e+01,   6.30800000e+01,   6.25400000e+01,
          6.26400000e+01,   2.02565560e+07]])

In [8]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [9]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-23', '2016-12-27', '2016-12-28', '2016-12-29',
               '2016-12-30', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09'],
              dtype='datetime64[ns]', name='Date', length=1766, freq=None)

In [10]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-23', '2016-12-27', '2016-12-28', '2016-12-29',
                '2016-12-30', '2017-01-03', '2017-01-04', '2017-01-05',
                '2017-01-06', '2017-01-09'],
               dtype='datetime64[ns]', name='Date', length=1766, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

## Selecting from a DataFrame with a DateTimeIndex

In [11]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source = "google", start = start, end = end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [12]:
stocks.loc["2014-03-04"]

Open            38.20
High            38.48
Low             38.07
Close           38.41
Volume    26868337.00
Name: 2014-03-04 00:00:00, dtype: float64

In [13]:
stocks.iloc[300]

Open            25.08
High            25.47
Low             25.00
Close           25.39
Volume    76064201.00
Name: 2011-03-15 00:00:00, dtype: float64

In [15]:
stocks.ix[300]

Open            25.08
High            25.47
Low             25.00
Close           25.39
Volume    76064201.00
Name: 2011-03-15 00:00:00, dtype: float64

In [16]:
stocks.loc["2013-01-01" : "2013-01-07"]

             Open   High    Low  Close    Volume
Date
2013-01-02  27.25  27.73  27.15  27.62  52905499
2013-01-03  27.63  27.65  27.16  27.25  48297740
2013-01-04  27.27  27.34  26.73  26.74  52521019
2013-01-07  26.77  26.88  26.64  26.69  37120059

In [18]:
birthdays = pd.date_range(start = "1988-05-08", end = "2017-05-08", freq = pd.DateOffset(years = 1))

In [20]:
mask = stocks.index.isin(birthdays)

In [22]:
stocks.loc[mask]

             Open   High    Low  Close    Volume
Date
2012-05-08  30.48  30.78  30.17  30.50  46337430
2013-05-08  33.07  33.24  32.65  32.99  51595643
2014-05-08  39.34  39.90  38.97  39.64  32123032
2015-05-08  47.55  47.98  47.52  47.75  35364911

## Timestamp Object Attributes

In [23]:
stocks = data.DataReader(name = company, data_source = "google", start = start, end = end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [25]:
someday = stocks.index[500]

In [26]:
someday.dayofweek

2

In [27]:
stocks.insert(loc = 0, column = "Day of Week", value = stocks.index.weekday_name)

In [28]:
stocks.head(3)

           Day of Week   Open   High    Low  Close    Volume
Date
2010-01-04      Monday  30.62  31.10  30.59  30.95  38414185
2010-01-05     Tuesday  30.85  31.10  30.64  30.96  49758862
2010-01-06   Wednesday  30.88  31.08  30.52  30.77  58182332

In [29]:
stocks.insert(loc = 1, column = "Is Start of Month", value = stocks.index.is_month_start)

In [31]:
stocks.head()

           Day of Week Is Start of Month   Open   High    Low  Close    Volume
Date
2010-01-04      Monday             False  30.62  31.10  30.59  30.95  38414185
2010-01-05     Tuesday             False  30.85  31.10  30.64  30.96  49758862
2010-01-06   Wednesday             False  30.88  31.08  30.52  30.77  58182332
2010-01-07    Thursday             False  30.63  30.70  30.19  30.45  50564285
2010-01-08      Friday             False  30.28  30.88  30.24  30.66  51201289

In [33]:
stocks[stocks["Is Start of Month"]]

           Day of Week Is Start of Month   Open   High    Low  Close    Volume
Date
2010-02-01      Monday              True  28.39  28.48  27.92  28.41  85931099
2010-03-01      Monday              True  28.77  29.05  28.53  29.02  43805302
2010-06-01     Tuesday              True  25.53  26.31  25.52  25.89  76155453
2010-07-01    Thursday              True  23.09  23.32  22.73  23.16  92239399
2010-09-01   Wednesday              True  23.67  23.95  23.54  23.90  65235852
2010-10-01      Friday              True  24.77  24.82  24.30  24.38  62672276
2010-11-01      Monday              True  26.88  27.22  26.70  26.95  61916183
2010-12-01   Wednesday              True  25.57  26.25  25.56  26.04  74123490
2011-02-01     Tuesday              True  27.80  28.06  27.61  27.99  62810661
2011-03-01     Tuesday              True  26.60  26.78  26.15  26.16  60054986
2011-04-01      Friday              True  25.53  25.53  25.31  25.48  63114201
2011-06-01   Wednesday              True  24.99  25.10  24.37  24.43  74036467
2011-07-01      Friday              True  25.93  26.17  25.84  26.02  52914516
2011-08-01      Monday              True  27.51  27.68  26.75  27.27  61846218
2011-09-01    Thursday              True  26.46  26.86  26.21  26.21  60511548
2011-11-01     Tuesday              True  26.19  26.32  25.86  25.99  61186956
2011-12-01    Thursday              True  25.56  25.63  25.20  25.28  48545338
2012-02-01   Wednesday              True  29.79  30.05  29.76  29.89  67413817
2012-03-01    Thursday              True  31.93  32.39  31.85  32.29  77348930
2012-05-01     Tuesday              True  32.05  32.34  31.95  32.01  43833208
2012-06-01      Friday              True  28.76  28.96  28.44  28.45  56641282
2012-08-01   Wednesday              True  29.59  29.65  29.21  29.41  31722523
2012-10-01      Monday              True  29.81  29.98  29.42  29.49  54042532
2012-11-01    Thursday              True  28.84  29.56  28.82  29.52  72047818
2013-02-01      Friday              True  27.67  28.05  27.55  27.93  55566440
2013-03-01      Friday              True  27.72  27.98  27.52  27.95  34851878
2013-04-01      Monday              True  28.64  28.66  28.36  28.61  29203122
2013-05-01   Wednesday              True  32.93  33.08  32.60  32.72  54336834
2013-07-01      Monday              True  34.75  34.99  34.33  34.36  31064000
2013-08-01    Thursday              True  32.06  32.09  31.60  31.67  42557872
2013-10-01     Tuesday              True  33.35  33.61  33.30  33.58  36718733
2013-11-01      Friday              True  35.67  35.69  35.39  35.52  40271887
2014-04-01     Tuesday              True  41.15  41.59  41.07  41.42  32610395
2014-05-01    Thursday              True  40.24  40.36  39.95  40.00  28791455
2014-07-01     Tuesday              True  41.86  42.15  41.69  41.87  26922597
2014-08-01      Friday              True  43.21  43.25  42.60  42.86  31171094
2014-10-01   Wednesday              True  46.27  46.53  45.84  45.90  38088355
2014-12-01      Monday              True  47.88  48.78  47.71  48.62  31191575
2015-04-01   Wednesday              True  40.60  40.76  40.31  40.72  36865322
2015-05-01      Friday              True  48.58  48.88  48.40  48.66  38937336
2015-06-01      Monday              True  47.06  47.77  46.62  47.23  28837332
2015-07-01   Wednesday              True  44.46  45.23  44.10  44.44  28343907
2015-09-01     Tuesday              True  42.17  42.59  41.66  41.82  49194736
2015-10-01    Thursday              True  44.75  44.75  43.75  44.61  28470381
2015-12-01     Tuesday              True  54.41  55.23  54.30  55.22  39848647
2016-02-01      Monday              True  54.88  55.09  54.50  54.71  43587105
2016-03-01     Tuesday              True  50.97  52.59  50.92  52.58  32778474
2016-04-01      Friday              True  55.05  55.61  54.57  55.57  24298612
2016-06-01   Wednesday              True  52.44  52.95  52.44  52.85  25324828
2016-07-01      Friday              True  51.13  51.72  51.07  51.16  21400392
2016-08-01      Monday              True  56.60  56.75  56.14  56.58  26003419
2016-09-01    Thursday              True  57.01  57.82  57.01  57.59  26075363
2016-11-01     Tuesday              True  59.97  60.02  59.25  59.80  24532986
2016-12-01    Thursday              True  60.11  60.15  58.94  59.20  34542121

## The .truncate( ) Method

In [34]:
stocks = data.DataReader(name = company, data_source = "google", start = start, end = end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [35]:
stocks.truncate(before = "2011-02-05", after = "2011-02-28")

             Open   High    Low  Close    Volume
Date
2011-02-07  27.80  28.34  27.79  28.20  68980871
2011-02-08  28.10  28.34  28.05  28.28  34910467
2011-02-09  28.19  28.26  27.91  27.97  52905018
2011-02-10  27.93  27.94  27.29  27.50  76672349
2011-02-11  27.76  27.81  27.07  27.25  83939643
2011-02-14  27.20  27.27  26.95  27.23  56766112
2011-02-15  27.04  27.33  26.95  26.96  44120592
2011-02-16  27.05  27.07  26.60  27.02  70817867
2011-02-17  26.97  27.37  26.91  27.21  57211558
2011-02-18  27.13  27.21  26.99  27.06  68672855
2011-02-22  26.78  27.10  26.52  26.59  60888998
2011-02-23  26.53  26.86  26.43  26.59  60234083
2011-02-24  26.64  27.06  26.50  26.77  64499005
2011-02-25  26.91  26.95  26.50  26.55  53006263
2011-02-28  26.69  26.86  26.51  26.58  51379675

## pd.DateOffset Objects

In [37]:
stocks = data.DataReader(name = "GOOG", data_source = "google",
               start = dt.date(2000, 1, 1), end = dt.datetime.now())

In [38]:
stocks.head(3)

             Open   High    Low  Close  Volume
Date
2004-08-19  49.96  51.98  47.93  50.12     NaN
2004-08-20  50.69  54.49  50.20  54.10     NaN
2004-08-23  55.32  56.68  54.47  54.65     NaN

In [39]:
stocks.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2016-12-23', '2016-12-27', '2016-12-28', '2016-12-29',
               '2016-12-30', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09'],
              dtype='datetime64[ns]', name='Date', length=3119, freq=None)

In [42]:
stocks.index - pd.DateOffset(weeks = 5)

DatetimeIndex(['2004-07-15', '2004-07-16', '2004-07-19', '2004-07-20',
               '2004-07-21', '2004-07-22', '2004-07-23', '2004-07-26',
               '2004-07-27', '2004-07-28',
               ...
               '2016-11-18', '2016-11-22', '2016-11-23', '2016-11-24',
               '2016-11-25', '2016-11-29', '2016-11-30', '2016-12-01',
               '2016-12-02', '2016-12-05'],
              dtype='datetime64[ns]', name='Date', length=3119, freq=None)

In [43]:
stocks = data.DataReader(name = "GOOG", data_source = "google",
               start = dt.date(2000, 1, 1), end = dt.datetime.now())

In [44]:
stocks.head(3)

             Open   High    Low  Close  Volume
Date
2004-08-19  49.96  51.98  47.93  50.12     NaN
2004-08-20  50.69  54.49  50.20  54.10     NaN
2004-08-23  55.32  56.68  54.47  54.65     NaN

In [47]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2016-11-30', '2016-11-30', '2016-11-30', '2016-11-30',
               '2016-11-30', '2016-12-31', '2016-12-31', '2016-12-31',
               '2016-12-31', '2016-12-31'],
              dtype='datetime64[ns]', name='Date', length=3119, freq=None)

In [48]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [49]:
stocks.index - MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2016-11-30', '2016-11-30', '2016-11-30', '2016-11-30',
               '2016-11-30', '2016-12-31', '2016-12-31', '2016-12-31',
               '2016-12-31', '2016-12-31'],
              dtype='datetime64[ns]', name='Date', length=3119, freq=None)

## The Timedelta Object

In [52]:
timeA = pd.Timestamp("2016-03-31")

In [53]:
timeB = pd.Timestamp("2016-03-20")

In [54]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [56]:
pd.Timedelta(days = 3, minutes = 45)

Timedelta('3 days 00:45:00')

In [61]:
pd.Timedelta("3 days 6 hours 12 minutes")

Timedelta('3 days 06:12:00')

## Timedeltas in a Dataset

In [65]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [68]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [70]:
shipping.head(3)

   order_date delivery_date  Delivery Time
ID
1  1998-05-24    1999-02-05       257 days
2  1992-04-22    1998-03-06      2144 days
4  1991-02-10    1992-08-26       563 days

In [72]:
shipping["delivery_date"] - shipping["Delivery Time"]

ID
1     1998-05-24
2     1992-04-22
4     1991-02-10
5     1992-07-21
7     1993-09-02
8     1993-06-10
9     1990-01-25
10    1992-02-23
11    1996-07-12
18    1995-06-18
19    1998-05-10
20    1992-10-17
23    1992-05-30
26    1996-04-11
30    1998-10-22
32    1990-01-20
33    1994-09-21
35    1993-09-10
36    1990-05-15
39    1990-03-26
41    1992-02-06
46    1995-09-05
50    1991-05-03
52    1994-09-02
53    1995-11-29
54    1996-08-07
58    1995-02-11
59    1995-09-29
60    1993-02-14
63    1990-12-22
         ...
932   1997-07-25
934   1995-05-22
935   1990-09-26
938   1993-03-24
939   1998-10-01
942   1992-04-14
943   1991-01-30
945   1992-10-27
946   1991-07-02
947   1991-06-18
949   1991-10-07
951   1991-10-02
953   1991-09-26
954   1993-08-08
956   1995-08-23
957   1994-10-01
958   1990-04-26
969   1996-09-24
972   1990-02-07
975   1997-06-18
981   1997-01-31
983   1994-12-30
984   1991-07-25
985   1995-07-26
986   1990-12-10
990   1991-06-24
991   1991-09-09
993   1990-11-16
994   1993-06-03
997   1990-01-04
dtype: datetime64[ns]